# ---------------------------------------
# VIRTUAL ENVIRONMENT
# ---------------------------------------
.venv/
venv/
env/

# ---------------------------------------
# RAW DATASET (TOO LARGE)
# ---------------------------------------
A_DeviceMotion_data/

# ---------------------------------------
# LARGE GENERATED ARRAYS (NOT NEEDED)
# ---------------------------------------
*.npy

# ---------------------------------------
# PYTHON CACHE FILES
# ---------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------------------------------
# MACOS SYSTEM FILES
# ---------------------------------------
.DS_Store

# ---------------------------------------
# EDITOR / IDE
# ---------------------------------------
.idea/
.vscode/

# ---------------------------------------
# JUNK FILES
# ---------------------------------------
*.log